.hide
  display: none !important

body.light
  background: $dark-blue

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $dark-blue
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.fav-page
  background: $dark-blue
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden
  padding-bottom: 100px
  .btn
    display: flex
    align-items: center
    justify-content: center
    width: fit-content
    min-width: 230px
    height: 48px
    text-align: center
    color: $white
    font-size: 18px
    font-family: $font-favbet-display-med
    text-transform: uppercase
    background: url("../img/btn.png") no-repeat 0 0/contain
    border: none
    transition: background .4s ease-in-out
    text-shadow: 0 1px 2px #055A40
    &:hover
      background: url("../img/btn-hover.png") no-repeat 0 0/contain
  .btn2
    display: flex
    align-items: center
    justify-content: center
    width: fit-content
    min-width: 150px
    height: 48px
    text-align: center
    color: $white
    font-size: 18px
    font-family: $font-favbet-display-med
    text-transform: uppercase
    background: url("../img/btn2.png") no-repeat 0 0/contain
    border: none
    transition: background .4s ease-in-out
    text-shadow: 0 1px 2px #055A40
    &:hover
      background: url("../img/btn2-hover.png") no-repeat 0 0/contain
  .btn-popup
    display: flex
    align-items: center
    justify-content: space-between
    width: 265px
    height: 40px
    background: rgba(55, 20, 46, 0.60)
    border-radius: 8px
    border: 1px solid $magenta
    box-shadow: 0 0 7.3px 0 rgba(255, 0, 79, 0.92)
    font-family: $font-favbet-display-med
    color: $white
    font-size: 15px
    padding: 14px 16px 15px 16px
    transition: color .4s ease-in-out
    z-index: 3
    &::after
      content: ""
      display: block
    &::after
      width: 18px
      height: 11px
      background: url("../img/drop-icon.png") no-repeat 0 0/contain
      transform: translate(40%, 0) rotate(180deg)
    &:hover
      color: #FF99C2
      text-shadow: 0 1px 0 rgba(161, 27, 79, 0.60)

// loader

.spinner-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $white
  display: flex
  justify-content: center
  align-items: center
  z-index: 8

.spinner
  width: 60px
  height: 60px
  background: url("../img/loader.svg") no-repeat 0 0/contain
  animation: scale .7s alternate infinite

.fav-page.loading
  max-height: 90vh
  overflow: hidden

._title
  span
    position: relative
    font-family: $font-favbet-display-med
    text-transform: uppercase
    color: transparent
    &::before
      content: attr(data-text)
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(178deg, #FFF 1.46%, #05C48A 248.31%)
      -webkit-background-clip: text
      background-clip: text
      -webkit-text-fill-color: transparent
      pointer-events: none
      z-index: 1
    &::after
      content: attr(data-text)
      position: absolute
      top: 0
      left: 0
      color: white
      text-shadow: 0 5px 5.5px rgba(9, 3, 179, 0.70), 0 2px 0 rgba(126, 4, 51, 0.80)
      z-index: 0
      pointer-events: none

.smoke
  width: 1400px
  height: 270px
  position: absolute
  left: 50%
  top: 380px
  z-index: 2
  opacity: .7
  pointer-events: none
  transform: translate(-50%, 0)
  background: url("../img/welcome/bottom-smoke-desc.png") no-repeat 0 0/cover
  @media screen and (max-width: 1100px)
    background: url("../img/welcome/bottom-smoke-tab.png") no-repeat 0 0/cover
  @media screen and (max-width: 600px)
    background: url("../img/welcome/bottom-smoke-mob.png") no-repeat 0 0/cover
  &::before, &::after
    content: ""
    position: absolute
  &::before
    background: linear-gradient(180deg, rgba(9, 10, 24, 0.00) 58.59%, #090A18 78.44%)
    transform: translate(-50%, 0)
    width: 120%
    height: 70%
    left: 50%
    bottom: -2px
  &::after
    bottom: 0
    right: 0
    background: linear-gradient(90deg, rgba(9, 10, 24, 0.00) 58.59%, #090A18 78.44%)
    height: 100%
    width: 30%
  &__decor
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    &::before
      content: ""
      display: block
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 30%
      background: linear-gradient(270deg, rgba(9, 10, 24, 0.00) 58.59%, #090A18 78.44%)


.welcome
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-end
  max-width: 1090px
  min-width: 1090px
  height: 590px
  background: url("../img/welcome/bg-desc.jpg") no-repeat -5px 0/cover
  position: relative
  padding: 10px 10px 130px 10px
  @media screen and (max-width: 1100px)
    background: url("../img/welcome/bg-tab.jpg") no-repeat 50% 0px/contain
  @media screen and (max-width: 600px)
    background: url("../img/welcome/bg-mob.jpg") no-repeat 50% 0px/contain
  &::before, &::after
    content: ""
    display: block
    height: 100%
    width: 35%
    position: absolute
    top: 0
    z-index: 0
    pointer-events: none
  &::before
    left: -3px
    background: linear-gradient(270deg, rgba(9, 10, 24, 0.00) 57.21%, #090A18 93.73%)
  &::after
    right: -3px
    background: linear-gradient(90deg, rgba(9, 10, 24, 0.00) 57.21%, #090A18 93.73%)
  &__title
    z-index: 1
    display: flex
    align-items: flex-start
    justify-content: center
    flex-direction: column
    span
      font-size: 64px
      &:nth-child(2)
        margin: -10px 0 0 64px
  &__found
    margin-top: 5px
    z-index: 3
    span
      font-size: 24px
      font-family: $font-favbet-display-med
      &::before
        z-index: 1
      &::after
        text-shadow: 0 4px 6.6px rgba(68, 182, 116, 0.35)
        z-index: 0
  &__prize
    color: $white
    font-family: $font-favbet-display-bold
    font-size: 64px
    white-space: nowrap
    display: flex
    align-items: flex-start
    text-shadow: 0 2px 2px rgba(9, 12, 51, 0.92)
    //z-index: 3
    z-index: 1
    span
      font-family: inherit
      &:nth-child(2)
        font-family: $font-favbet-text-reg
        font-size: 40px
        margin-top: 2px
    &::before
      content: ""
      display: block
      height: 35%
      width: 100%
      position: absolute
      bottom: 0
      z-index: 0
      pointer-events: none
      left: 0
      background: linear-gradient(180deg, rgba(9, 10, 24, 0.00) 27.21%, #090A18 77.73%)
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 34px 0 0 35px
    width: 340px
  &__btn
    z-index: 3
    position: relative
    margin-top: 5px

.info
  z-index: 3
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  margin-top: -30px
  padding-bottom: 30px
  .smoke
    top: 0
    width: 1375px
    height: 300px
    background: url("../img/info/ward-smoke-desc.png") no-repeat 0 0/cover
    @media screen and (max-width: 1100px)
      background: url("../img/info/ward-smoke-tab.png") no-repeat 0 0/cover
    @media screen and (max-width: 600px)
      background: url("../img/info/ward-smoke-mob.png") no-repeat 0 0/cover
  &__title
    font-size: 32px
    span
      &::after
        text-shadow: 0 4px 6.6px rgba(68, 182, 116, 0.35)
  &__subtitle
    font-size: 18px
    line-height: 26px
    color: $white
    font-family: $font-favbet-text-reg
    max-width: 550px
    text-align: center
    z-index: 1
    margin-top: 12px
  &__details
    margin-top: 20px
  &__ward
    &-left, &-right
      position: absolute
      z-index: 0
      pointer-events: none
    &-left
      max-width: 200px
      left: -155px
      top: -85px
      animation: float 4s ease-in-out infinite
    &-right
      max-width: 160px
      top: -80px
      right: -125px
      animation: float 3.6s ease-in-out infinite
.predict
  display: flex
  flex-direction: column
  align-items: center
  padding-bottom: 25px
  &__title
    font-size: 32px
    z-index: 4
    span
      &::after
        text-shadow: 0 4px 6.6px rgba(161, 27, 79, 0.60)
      &::before
        background: linear-gradient(180deg, #FFF 28.84%, #FF267E 222.3%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
  &__cards
    display: flex
    align-items: center
    position: relative
    width: 1000px
    height: 320px
    z-index: 3
    .card
      padding: 35px 35px 65px 35px
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      width: 350px
      height: 340px
      background: url("../img/predict/card-bg.png") no-repeat 0 0/cover
      background-size: 100% 100%
      transition: all .5s ease-in-out
      pointer-events: none
      z-index: 0
      opacity: 0
      display: flex
      align-items: center
      flex-direction: column
      &._hide-slide
        opacity: 0
        pointer-events: none
      &._active
        opacity: 1
        pointer-events: initial
        z-index: 1
      &._left
        opacity: .7
        transform: translate(-140% , -50%)
        pointer-events: initial
        z-index: 1
      &._right
        opacity: .7
        z-index: 1
        transform: translate(40%, -50%)
        pointer-events: initial
      &__sun
        width: 250px
        height: 150px
        margin: 0 0 -42px 0
        background: url("../img/predict/card-sun.png") no-repeat 0 0/contain
      &__text
        color: $white
        padding: 8px
        width: 260px
        height: 120px
        background: url("../img/predict/card-text-frame.png") no-repeat 0 0/cover
        background-size: 100% 100%
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.50)
        font-size: 18px
        font-family: $font-favbet-text-reg
      &__rune
        position: absolute
        left: 50%
        top: 65px
        width: 150px
        height: 50px
        transform: translate(-50%, 0)
        &.rune1
          background: url("../img/predict/runes/rune1.png") no-repeat 50% 0/contain
        &.rune2
          background: url("../img/predict/runes/rune2.png") no-repeat 50% 0/contain
        &.rune3
          background: url("../img/predict/runes/rune3.png") no-repeat 50% 0/contain
        &.rune4
          background: url("../img/predict/runes/rune4.png") no-repeat 50% 0/contain
        &.rune5
          background: url("../img/predict/runes/rune5.png") no-repeat 50% 0/contain
        &.rune6
          background: url("../img/predict/runes/rune6.png") no-repeat 50% 0/contain
        &.rune7
          background: url("../img/predict/runes/rune7.png") no-repeat 50% 0/contain
        &.rune8
          background: url("../img/predict/runes/rune8.png") no-repeat 50% 0/contain
  &__runes
    display: flex
    align-items: center
    justify-content: center
    width: 205px
    height: 50px
    position: relative
    z-index: 2
    &::before
      content: ""
      display: block
      width: 383px
      height: 364px
      top: -150px
      left: 50%
      transform: translate(-50%, 0)
      pointer-events: none
      position: absolute
      z-index: 0
      background: url("../img/predict/chest.png") no-repeat 0 0/contain
    &-item
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      opacity: 0
      pointer-events: none
      width: 29px
      height: 32px
      transform-origin: center
      transition: all .7s ease-in-out
      z-index: 1
      &._active
        opacity: 1
        z-index: 2
        pointer-events: initial
        transform: scale(1.45) translate(-50%, -50%)
      &._left1
        opacity: 1
        z-index: 2
        pointer-events: initial
        transform: scale(1.3) translate(-170%, -60%)
      &._left2
        opacity: 1
        z-index: 2
        pointer-events: initial
        transform: scale(1.15) translate(-310%, -70%)
      &._right1
        opacity: 1
        z-index: 2
        pointer-events: initial
        transform: scale(1.3) translate(60%, -60%)
      &._right2
        opacity: 1
        z-index: 2
        pointer-events: initial
        transform: scale(1.15) translate(180%, -70%)

      &.rune1
        background: url("../img/predict/runes/slider/rune1.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune1-active.png") no-repeat 50% 0/contain
      &.rune2
        background: url("../img/predict/runes/slider/rune2.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune2-active.png") no-repeat 50% 0/contain
      &.rune3
        background: url("../img/predict/runes/slider/rune3.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune3-active.png") no-repeat 50% 0/contain
      &.rune4
        background: url("../img/predict/runes/slider/rune4.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune4-active.png") no-repeat 50% 0/contain
      &.rune5
        background: url("../img/predict/runes/slider/rune5.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune5-active.png") no-repeat 50% 0/contain
      &.rune6
        background: url("../img/predict/runes/slider/rune6.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune6-active.png") no-repeat 50% 0/contain
      &.rune7
        background: url("../img/predict/runes/slider/rune7.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune7-active.png") no-repeat 50% 0/contain
      &.rune8
        background: url("../img/predict/runes/slider/rune8.png") no-repeat 50% 0/contain
        &._active
          background: url("../img/predict/runes/slider/rune8-active.png") no-repeat 50% 0/contain
  &__bottom
    z-index: 3
    display: flex
    align-items: center
    justify-content: space-between
    width: 370px
  &__move
    &-left, &-right
      width: 52px
      height: 52px
      position: relative
      cursor: pointer
      transform-origin: center
      transition: background .5s ease-in-out
      &::before
        content: ""
        display: block
        width: 91px
        height: 91px
        position: absolute
        pointer-events: none
        left: -20px
        top: -20px
        transform: rotate(0deg)
        transform-origin: center
        background: url("../img/predict/runes/runes-move.png") no-repeat 50% 0/contain
        transition: all .7s ease-in-out
    &-left
      background: url("../img/predict/move-arrow-left.png") no-repeat 0 0/contain
      &:hover
        background: url("../img/predict/move-arrow-left-hover.png") no-repeat 0 0/contain
      &._rune1
        &:before
          transform: rotate(495deg)
      &._rune2
        &:before
          transform: rotate(446deg)
      &._rune3
        &:before
          transform: rotate(401deg)
      &._rune4
        &:before
          transform: rotate(361deg)
      &._rune5
        &:before
          transform: rotate(316deg)
          left: -19px
          top: -19px
      &._rune6
        &:before
          transform: rotate(271deg)
      &._rune7
        &:before
          transform: rotate(226deg)
      &._rune8
        &:before
          transform: rotate(181deg)

    &-right
      background: url("../img/predict/move-arrow-right.png") no-repeat 0 0/contain
      &:hover
        background: url("../img/predict/move-arrow-right-hover.png") no-repeat 0 0/contain
      &._rune1
        &:before
          transform: rotate(495deg)
      &._rune2
        &:before
          transform: rotate(451deg)
      &._rune3
        &:before
          transform: rotate(401deg)
      &._rune4
        &:before
          transform: rotate(361deg)
      &._rune5
        &:before
          transform: rotate(316deg)
          left: -19px
          top: -19px
      &._rune6
        &:before
          transform: rotate(271deg)
      &._rune7
        &:before
          transform: rotate(226deg)
      &._rune8
        &:before
          transform: rotate(181deg)
  &__btn
    z-index: 4
    margin-top: 25px
    &::before
      content: ""
      display: block
      background: url("../img/predict/popup-btn-icon.png") no-repeat 0 0/contain
      width: 38px
      height: 46px
      margin-left: -30px
  &__confirm-btn
    z-index: 4
    margin-top: 25px
    &._lock
      opacity: .7
      pointer-events: none
  &__last
    z-index: 2
    display: flex
    align-items: center
    margin-top: 35px
    background: rgba(4, 6, 19, 0.25)
    border: 1px solid rgba(255, 255, 255, 0.15)
    border-radius: 8px
    padding: 8px 16px
    &-icon
      max-width: 24px
      filter: drop-shadow( 0 4px 8.2px rgba(93, 221, 196, 0.87))
    &-text
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      margin-left: 16px
      color: $white
      font-family: $font-favbet-text-reg
      .last-predict
        font-family: $font-favbet-text-bold
  &__multi
    display: flex
    align-items: center
    justify-content: center
    z-index: 2
    margin-top: 25px
    &-text
      font-family: $font-favbet-display-med
      color: $white
      text-shadow: 0 1px 0 rgba(161, 27, 79, 0.60)
      font-size: 15px
    &-counter
      width: 56px
      height: 57px
      background: url("../img/predict/multi-frame.png") no-repeat 50% 0/contain
      display: flex
      align-items: center
      justify-content: center
      color: #FF267E
      font-family: $font-favbet-display-bold
      font-size: 22px
      padding-right: 1px
      margin-left: 16px
.table
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 405px
  min-height: 440px
  z-index: 1
  padding-top: 25px
  position: relative
  //&__viewport
  //  max-width: 100vw
  //  //overflow: hidden
  .smoke
    z-index: 0
    opacity: 1
    &__animal
      position: absolute
    &.dragon
      bottom: auto
      top: -80px
      background: url("../img/table/smoke-dragon.png") no-repeat 0 0/cover
      @media screen and (max-width: 600px)
        background: url("../img/table/smoke-dragon-mob.png") no-repeat 0 0/cover
      .smoke
        &__animal
          max-width: 510px
          top: -185px
          opacity: 0
          left: 170px
          transition: all 2s ease-in-out
          &.showItem
            left: 210px
            opacity: 1
    &.dog
      top: auto
      bottom: -20px
      background: url("../img/table/smoke-dog.png") no-repeat 0 0/cover
      @media screen and (max-width: 1100px)
          background: url("../img/table/smoke-dog-tab.png") no-repeat 0 0/cover
          width: 837px
          height: 308px
      @media screen and (max-width: 600px)
        background: url("../img/table/smoke-dog-mob.png") no-repeat 0 0/cover
      .smoke
        &__animal
          bottom: 0
          max-width: 440px
          z-index: 0
          opacity: 0
          right: 80px
          transition: all 2s ease-in-out
          &.showItem
            right: 130px
            opacity: 1
      &::before
        z-index: 1
        background: linear-gradient(180deg, rgba(9, 10, 24, 0) 28.59%, #090A18 88.44%)

  &__title
    font-size: 32px
    span
      font-family: $font-favbet-display-med
      &::after
        text-shadow: 0 4px 6.6px rgba(161, 27, 79, 0.60)
      &::before
        background: linear-gradient(180deg, #FFF 28.84%, #FF267E 222.3%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
  &__body
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    z-index: 1
  &__row
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 5px
    grid-row-gap: 5px
    width: 100%
    align-items: center
    position: relative
    border-bottom: 1px solid rgba($magenta, .2)
    margin-bottom: 10px
    &-item
      display: flex
      align-items: center
      justify-content: center
      color: $white
      font-family: $font-favbet-text-reg
      font-size: 12px
      background: linear-gradient(180deg, #FFF 28.84%, #FF267E 222.3%)
      background-clip: text
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      &:first-child
        text-align: left
        justify-content: flex-start
        padding-left: 7px
    &.place1, &.place2, &.place3
      .you
        position: absolute
        left: -7px
        top: 50%
        transform: translate(-100%, -50%)
        color: white
      .table__row-item
        &:nth-child(1)
          &::after
            content: ""
            display: block
            width: 20px
            height: 22px
            margin-left: 5px
    &.place1
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/gold.png") no-repeat 0 0/contain
    &.place2
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/silver.png") no-repeat 0 0/contain
    &.place3
      .table__row-item
        &:nth-child(1)
          &::after
            background: url("../img/results/bronze.png") no-repeat 0 0/contain
    &.you
      //background: $white
      .table__row-item
        background: transparent
        color: #FF267E
        -webkit-text-fill-color: #FF267E
      .you
        display: flex
        align-items: center
        justify-content: center
        font-family: $font-favbet-display-med
        font-size: 10px
        position: absolute
        padding-left: 3px
        left: 13px
        top: -15px
        width: 42px
        height: 45px
        background: url("../img/table/you.png") no-repeat 0 0/contain
        transform: translate(-100%, 0)
        text-transform: uppercase
  &__btn
    margin-top: 25px
    z-index: 1
  &__bottom
    font-family: $font-favbet-text-reg
    color: $white
    font-size: 10px
    text-align: center
    margin: 55px 0 25px 0
    max-width: 370px
    z-index: 1
  &__popup-btn
    z-index: 1
  &__head
    width: 100%
    display: flex
    align-items: center
    margin: 20px 0 10px 0
    z-index: 1
    .table__row
      border: none
    .table__row-item
      font-family: $font-favbet-display-med
      font-size: 16px
      &:first-child
        padding-left: 10px


.drop
  max-width: 605px
  width: 100%
  margin: 0 auto
  border-radius: 10px
  position: relative
  z-index: 5
  &__bottom-text
    color: $white
    font-size: 10px
    line-height: 16px
    //font-family: $font-suisse-intl-reg
    text-align: center
    margin-bottom: 15px
  .dropdown[open] summary::before
    transform:  rotate(180deg)
  summary
    list-style: none
    padding: 8px 15px
    //font-family: $font-suisse-intl-reg
    font-size: 14px
    cursor: pointer
    background-size: 100% 100%
    display: flex
    align-items: center
    justify-content: space-between
    color: $white
    @media screen and (max-width: 600px)
      font-size: 14px
      line-height: 22px
    &::before
      content: ""
      display: block
      min-width: 20px
      height: 12px
      //background: url("../img/arrow-drop.png") no-repeat 0 0/contain
      order: 2

  &-txt
    padding: 15px
    margin-top: 10px
    max-height: 350px
    overflow-y: auto
    border: 1px solid $white
    scrollbar-width: auto
    &::-webkit-scrollbar-thumb
      background: $green
      width: 3px
      border-radius: 3px
    &::-webkit-scrollbar
      background: $white
      width: 3px
    &-list
      display: flex
      flex-direction: column
      gap: 15px
      table
        border-spacing: 0
        border-color: $white
        tr, td
          border-color: $white
          color: $white
          //font-family: $font-suisse-intl-reg

        td
          border: none
          border-right: 1px solid $white
          padding: 0 5px
        th
          padding: 0 5px
      p, strong, a
        font-size: 16px
        line-height: 26px
        //font-family: $font-suisse-intl-reg
        color: $white
        @media screen and (max-width: 600px)
          font-size: 14px
          line-height: 22px
      span
        //font-family: $font-suisse-intl-reg
        display: block
      tr,td
        //font-family: $font-suisse-intl-reg
      td
        padding-left: 5px


.retreat1
  padding-left: 30px
  strong
    font-family: $font-suisse-intl-bold
    color: $white
.circle
  padding-left: 35px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 4px 2px 0


.popups
  position: fixed
  opacity: 1
  z-index: 10
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(#090A18E5, .9) url("../img/popup/pattern.png") repeat 0 0/cover
  background-size: 620px 390px
  backdrop-filter: blur(5px)
  display: flex
  align-items: center
  justify-content: center
  transition: .7s ease-in-out
  &.opacity
    opacity: 0
    z-index: 0
    pointer-events: none
    & > *
      pointer-events: none

.popup
  width: 90%
  max-width: 1000px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  opacity: 0
  pointer-events: none
  max-height: 550px
  height: fit-content
  border-radius: 16px 16px 8px 8px
  border: 1px solid #FF5E9F
  background: rgba(55, 20, 46, 0.90)
  box-shadow: 0 0 7.3px 0 rgba(255, 0, 79, 0.92)
  backdrop-filter: blur(8px)
  padding: 16px 10px
  z-index: 0
  transition: .7s ease-in-out
  &.active
    opacity: 1
    pointer-events: initial
    z-index: 2
  &__title
    color: $white
    text-align: center
    font-size: 20px
    font-family: $font-favbet-display-med
    text-transform: uppercase
    width: fit-content
    margin: 0 auto
    display: flex
    align-items: center
    margin-bottom: 20px
    &::before, &::after
      content: ""
      display: block
      width: 74px
      height: 74px
      background: url("../img/popup/title-star.png") no-repeat 0 0/contain
      margin: -30px 0
  &__text
    color: $white
    font-family: $font-favbet-text-reg
    font-size: 16px
    line-height: 24px
    & > *
      font-family: inherit
  &__wrap
    padding: 16px 10px 16px 16px
    border-radius: 8px
    border: 1px solid rgba(255, 255, 255, 0.15)
    background: rgba(4, 6, 19, 0.25)
    position: relative
    z-index: 2
  &__scroll
    overflow: auto
    max-height: 435px
    padding-right: 5px
    &::-webkit-scrollbar-thumb
      width: 5px
      background: #FF267E
      box-shadow: 2px 0 3.3px 0 rgba(161, 27, 79, 0.60)
      border-radius: 8px
    &::-webkit-scrollbar
      width: 5px
      background: rgba($white, .1)
      box-shadow: 2px 0 3.3px 0 rgba(161, 27, 79, 0.60)
      border-radius: 8px
  &__close
    width: 95px
    height: 95px
    position: absolute
    right: -6px
    top: -6px
    background: url("../img/popup/close.png") no-repeat 0 0/contain
    border: none
    z-index: 1
  &--predict
    max-width: 270px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 32px 16px 8px 8px
    &._done
      border-radius: 8px 16px 8px 8px
    .popup
      &__wrap
        width: 100%
      &__title
        z-index: 2
        &::after
          content: none
        &::before
          position: absolute
          left: 0
          top: 0
          background: url("../img/popup/predict-decor.png") no-repeat 0 0/contain
          height: 60px
          width: 100px
          margin: 0
          z-index: -1
          pointer-events: none
      &__close
        width: 71px
        height: 71px
        right: -4px
        top: -4px
      &__done
        margin: -15px 0 -30px 0
      &__scroll
        max-height: 250px
        width: 100%
        &-title
          color: $white
          font-size: 16px
          font-family: $font-favbet-text-reg
          opacity: .5
          margin-bottom: 16px
          &._title
            opacity: 1
            font-size: 24px
            text-align: center
            span
              &::after
                text-shadow: 0 4px 6.6px rgba(68, 182, 116, 0.35)
        &-text
          font-family: $font-favbet-text-med
          font-size: 16px
          line-height: 16px
          text-shadow: 0 1px 0 rgba(161, 27, 79, 0.60)
          color: $white
          margin-top: -7px
          margin-bottom: 15px

      &__list
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 16px
        &-item
          color: $white
          font-size: 16px
          line-height: 16px
          font-family: $font-favbet-text-reg
          background: transparent
          border: none
          padding: 0
          width: 190px
          text-align: left
          &._select
            margin-left: 5px
            background: rgba(5, 196, 138, 0.50)
            border-radius: 8px
            padding: 7px 8px 5px 8px
            position: relative
            font-family: $font-favbet-text-bold
            pointer-events: none
            &::before
              content: ""
              display: block
              position: absolute
              right: -5px
              top: 50%
              transform: translate(0, -50%)
              width: 28px
              height: 32px
              background: url("../img/popup/select-icon.png") no-repeat 0 0/contain
      &__btn
        margin-top: 16px


body.dark
  .spinner-overlay
    background: $black

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes scale
  0%
    transform: scale(.8)
  100%
    transform: scale(1)

@keyframes float
  0%
    transform: translateY(0)
  50%
    transform: translateY(-12px)
  100%
    transform: translateY(0)