button.menu-btn menu
.menu-test
    button.dark-btn dark
    button.lng-btn en
    button.auth-btn auth
    button.popups-btn menu popups
    .menu-popup.hide
        button(onclick='openPopupByAttr("detailsPopup")') Деталі акції
        button(onclick='openPopupByAttr("rulesPopup")') Правила акції
        button(onclick='openPopupByAttr("predict1")') Прогноз 1
        button(onclick='openPopupByAttr("predict2")') Прогноз 2
        button(onclick='openPopupByAttr("predict3")') Прогноз 3
        button(onclick='openPopupByAttr("predict4")') Прогноз 4
        button(onclick='openPopupByAttr("predict5")') Прогноз 5
        button(onclick='openPopupByAttr("predict6")') Прогноз 6
        button(onclick='openPopupByAttr("predict7")') Прогноз 7
        button(onclick='openPopupByAttr("predict8")') Прогноз 8
        button(onclick='openPopupByAttr("done")') Завершення

.fav-page.loading
    .spinner-overlay
        .spinner
    .welcome
        .smoke
            .smoke__decor
        .welcome__title._title(data-translate="welcomeTitle")
            span(data-text="накастуй") накастуй
            span(data-text="перемогу") перемогу
        .welcome__wrap
            .welcome__found._title(data-translate="welcomeFound") #[span(data-text="призовий фонд") призовий фонд]
            .welcome__prize(data-translate="welcomePrize") #[span 1 000 000 ₴] #[span * ]
            a.welcome__btn.btn.unauth-msg(data-translate="authBtn" href="/login") авторизуйся
            button.welcome__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
            button.welcome__btn.btn.play-btn.hide(data-translate="playBtn") зробити прогноз
    .info
        .smoke
            .smoke__decor
        .info__ward-right
            img(src="img/info/right-ward.png" alt="favbet")
        .info__ward-left
            img(src="img/info/left-ward.png" alt="favbet")
        .info__title._title(data-translate="infoTitle") #[span(data-text="Прогнозуй The International 2025") Прогнозуй The International 2025]
        .info__subtitle(data-translate="infoSubtitle") 3 28 серпня по 14 вересня роби ставки від 350₴ на матчі “Dota 2” у турнірі “The International 2025”. Прогнозуй кожну стадію турніру та примножуй набрані бали.
        button.info__details.btn-popup.open-btn(data-translate="infoDetails" data-popup="detailsPopup") Деталі
    .predict
        .predict__title._title(data-translate="predictTitle") #[span(data-text="накастуй перемогу") накастуй перемогу]
        .predict__cards.cards
            .card._active
                .card__sun
                    .card__rune.rune1
                .card__text(data-translate="cardText1") Найбільша середня кількість фрагів однією командою за весь турнір
            .card._right
                .card__sun
                    .card__rune.rune2
                .card__text(data-translate="cardText2") Визначити команду-лідера за середнім показником загиблих героїв за турнір.
            .card
                .card__sun
                    .card__rune.rune3
                .card__text(data-translate="cardText3") Найбільша середня кількість асистів однією командою за весь турнір
            .card
                .card__sun
                    .card__rune.rune4
                .card__text(data-translate="cardText4") Кількість вибраних героїв за весь турнір з усіх
            .card
                .card__sun
                    .card__rune.rune5
                .card__text(data-translate="cardText5") Визначити гравця-лідера за кількістю загиблих героїв на одній мапі.
            .card
                .card__sun
                    .card__rune.rune6
                .card__text(data-translate="cardText6") Найбільша кількість асистів одним гравцем за мапу
            .card
                .card__sun
                    .card__rune.rune7
                .card__text(data-translate="cardText7") Визначити найбільшу кількість фрагів одним гравцем за мапу.
            .card._left
                .card__sun
                    .card__rune.rune8
                .card__text(data-translate="cardText8") Переможець турніру
        .predict__runes
            .predict__runes-item.rune1(data-rune="_rune1")
            .predict__runes-item.rune2(data-rune="_rune2")
            .predict__runes-item.rune3(data-rune="_rune3")
            .predict__runes-item.rune4(data-rune="_rune4")
            .predict__runes-item.rune5(data-rune="_rune5")
            .predict__runes-item.rune6(data-rune="_rune6")
            .predict__runes-item.rune7(data-rune="_rune7")
            .predict__runes-item.rune8(data-rune="_rune8")
        .predict__bottom
            .predict__move-left
            .predict__move-right
        .predict__last
            .predict__last-icon
                img(src="img/predict/runes/rune7.png" alt="favbet")
            .predict__last-text
                .predict__last-text-item(data-translate="lastPredict") Твій останній прогноз : #[span.last-predict Game Hunters]
                .predict__last-text-item(data-translate="changePredict") Ти можеш змінити його до 10.09.2025 включно.
        button.predict__btn.btn-popup(data-translate="makeChoice") зробити вибір
        //button.predict__confirm-btn.btn2(data-translate="confirmBtn") підтвердити
        .predict__multi
            .predict__multi-text(data-translate="multiText") твій множник
            .predict__multi-counter 10

    .table
        .smoke.dragon
            .smoke__decor
            .smoke__animal
                img(src="img/table/dragon.png" alt="favbet")
        .smoke.dog
            .smoke__decor
            .smoke__animal
                img(src="img/table/dog.png" alt="favbet")
        .table__title._title(data-translate="tableTitle") #[span(data-text="результати") результати]
        .table__head
            .table__row
                .table__row-item(data-translate="tablePlace") Місце
                .table__row-item(data-translate="tableId") ID
                .table__row-item(data-translate="tablePoints") Бали
                .table__row-item(data-translate="tableMultiple") Х
                .table__row-item(data-translate="tablePointsMultiple") Х Бали
                .table__row-item(data-translate="tablePrize") Приз*
        .table__body#table
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 100
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 1000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

        .table__body#tableOther
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000
            .table__row.you
                .table__row-item 1 #[span.you(data-translate="you") you]
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

        a.table__btn.btn.unauth-msg(data-translate="authBtn" href="/login") авторизуйся
        button.table__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
        button.table__btn.btn.play-btn.hide(data-translate="playBtn") зробити прогноз
        .table__bottom(data-translate="tableBottom") *Загальний призовий фонд Акції «Накастуй перемогу» складається з 1 000 000 електронних грошових замінників. Деталі на сайті www.favbet.ua. Період дії акції – З 28 серпня 2025 року до 14 вересня 2025
        button.table__popup-btn.btn-popup.open-btn(data-translate="rulesBtn" data-popup="rulesPopup") Офіційні правила акції
    .popups.opacity
        .popup(data-popup="detailsPopup")
            .popup__title(data-translate="detailsPopupTitle") деталі акції
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__text(data-translate="detailsPopup").
                        З 28 серпня до 14 вересня 2025 року натискай кнопку «Взяти участь» та набирай бали за виграшні ставки на матчі з дисципліни «Dota 2» у межах кіберспортивного турніру «The International 2025» від 350 ₴.  
                        Кожна розрахована ставка від 350 ₴ з результатом «Виграш» приносить учаснику 1 (один) ігровий бал в Акції. Якщо Учасник зробив виграшну ставку сумою 700 ₴, що підлягає умовам Акції, то він отримає 2 (два) ігрових бали.  
                        Ставки повинні бути розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій). Ставки з Бонусного рахунку, з ознакою «Cash Out», «Повернення ставки», ставки вже із застосованим бонусом «Страховка ставки» та ставки з розділу «Fantasy Football» — не враховуються.  
                        За допомогою правильних прогнозів в розділі «Місії» учасник може помножити вже набрані бали.Кожен правильний прогноз помножує вже набрані бали Учасника на наступну кількість множників:

                        1 виконана місія - бали помножуються на множник х1.5.
                        2 виконані місії - бали помножуються на множник х2.
                        3 виконані місії - бали помножуються на множник х2.5.
                        4 виконані місії - бали помножуються на множник х3.
                        5 виконаних місій - бали помножуються на множник х3.5.
                        6 виконаних місій - бали помножуються на множник х4.
                        7 виконаних місій - бали помножуються на множник х5.
                        8 виконаних місій - бали помножуються на множник х6.

                        Бали нараховуватимуться та відображатимуться в розділі «Результати». Після завершення Акції, 400 переможців, які наберуть найбільше балів протягом всього періоду проведення Акції, матимуть право на отримання призу.
        .popup(data-popup="rulesPopup")
            .popup__title(data-translate="rulesPopupTitle") офіційні правила акції
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__text(data-translate="detailsPopup").
                        З 28 серпня до 14 вересня 2025 року натискай кнопку «Взяти участь» та набирай бали за виграшні ставки на матчі з дисципліни «Dota 2» у межах кіберспортивного турніру «The International 2025» від 350 ₴.  
                        Кожна розрахована ставка від 350 ₴ з результатом «Виграш» приносить учаснику 1 (один) ігровий бал в Акції. Якщо Учасник зробив виграшну ставку сумою 700 ₴, що підлягає умовам Акції, то він отримає 2 (два) ігрових бали.  
                        Ставки повинні бути розраховані з результатом «Виграш» та з коефіцієнтом від 1.5 (ординар) або від 3.5 (експрес від 3 подій). Ставки з Бонусного рахунку, з ознакою «Cash Out», «Повернення ставки», ставки вже із застосованим бонусом «Страховка ставки» та ставки з розділу «Fantasy Football» — не враховуються.  
                        За допомогою правильних прогнозів в розділі «Місії» учасник може помножити вже набрані бали.Кожен правильний прогноз помножує вже набрані бали Учасника на наступну кількість множників:

                        1 виконана місія - бали помножуються на множник х1.5.
                        2 виконані місії - бали помножуються на множник х2.
                        3 виконані місії - бали помножуються на множник х2.5.
                        4 виконані місії - бали помножуються на множник х3.
                        5 виконаних місій - бали помножуються на множник х3.5.
                        6 виконаних місій - бали помножуються на множник х4.
                        7 виконаних місій - бали помножуються на множник х5.
                        8 виконаних місій - бали помножуються на множник х6.

                        Бали нараховуватимуться та відображатимуться в розділі «Результати». Після завершення Акції, 400 переможців, які наберуть найбільше балів протягом всього періоду проведення Акції, матимуть право на отримання призу.
        .popup.popup--predict(data-popup="predict1")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери команду
                    .popup__list
                        button.popup__list-item._select(data-translate="tableTeam1")
                        button.popup__list-item(data-translate="tableTeam2")
                        button.popup__list-item(data-translate="tableTeam3")
                        button.popup__list-item(data-translate="tableTeam4")
                        button.popup__list-item(data-translate="tableTeam5")
                        button.popup__list-item(data-translate="tableTeam6")
                        button.popup__list-item(data-translate="tableTeam7")
                        button.popup__list-item(data-translate="tableTeam8")
                        button.popup__list-item(data-translate="tableTeam9")
                        button.popup__list-item(data-translate="tableTeam10")
                        button.popup__list-item(data-translate="tableTeam11")
                        button.popup__list-item._select(data-translate="tableTeam12")
                        button.popup__list-item(data-translate="tableTeam13")
                        button.popup__list-item(data-translate="tableTeamAny")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict2")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери команду
                    .popup__list
                        button.popup__list-item._select(data-translate="tableTeam1")
                        button.popup__list-item(data-translate="tableTeam2")
                        button.popup__list-item(data-translate="tableTeam3")
                        button.popup__list-item(data-translate="tableTeam4")
                        button.popup__list-item(data-translate="tableTeam5")
                        button.popup__list-item(data-translate="tableTeam6")
                        button.popup__list-item(data-translate="tableTeam7")
                        button.popup__list-item(data-translate="tableTeam8")
                        button.popup__list-item(data-translate="tableTeam9")
                        button.popup__list-item(data-translate="tableTeam10")
                        button.popup__list-item(data-translate="tableTeam11")
                        button.popup__list-item._select(data-translate="tableTeam12")
                        button.popup__list-item(data-translate="tableTeam13")
                        button.popup__list-item(data-translate="tableTeamAny")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict3")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери команду
                    .popup__list
                        button.popup__list-item._select(data-translate="tableTeam1")
                        button.popup__list-item(data-translate="tableTeam2")
                        button.popup__list-item(data-translate="tableTeam3")
                        button.popup__list-item(data-translate="tableTeam4")
                        button.popup__list-item(data-translate="tableTeam5")
                        button.popup__list-item(data-translate="tableTeam6")
                        button.popup__list-item(data-translate="tableTeam7")
                        button.popup__list-item(data-translate="tableTeam8")
                        button.popup__list-item(data-translate="tableTeam9")
                        button.popup__list-item(data-translate="tableTeam10")
                        button.popup__list-item(data-translate="tableTeam11")
                        button.popup__list-item._select(data-translate="tableTeam12")
                        button.popup__list-item(data-translate="tableTeam13")
                        button.popup__list-item(data-translate="tableTeamAny")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict4")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери значення
                    .popup__list
                        button.popup__list-item._select(data-translate="tableOptions13")
                        button.popup__list-item(data-translate="tableOptions14")
                        button.popup__list-item(data-translate="tableOptions15")
                        button.popup__list-item(data-translate="tableOptions16")
                        button.popup__list-item(data-translate="tableOptions17")
                        button.popup__list-item(data-translate="tableOptions18")
                        button.popup__list-item(data-translate="tableOptions19")
                        button.popup__list-item(data-translate="tableOptions20")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict5")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери значення
                    .popup__list
                        button.popup__list-item._select(data-translate="tableOptions1")
                        button.popup__list-item(data-translate="tableOptions2")
                        button.popup__list-item(data-translate="tableOptions3")
                        button.popup__list-item(data-translate="tableOptions4")
                        button.popup__list-item(data-translate="tableOptions5")
                        button.popup__list-item(data-translate="tableOptions6")
                        button.popup__list-item(data-translate="tableOptions7")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict6")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери значення
                    .popup__list
                        button.popup__list-item._select(data-translate="tableOptions1")
                        button.popup__list-item(data-translate="tableOptions2")
                        button.popup__list-item(data-translate="tableOptions3")
                        button.popup__list-item(data-translate="tableOptions4")
                        button.popup__list-item(data-translate="tableOptions5")
                        button.popup__list-item(data-translate="tableOptions6")
                        button.popup__list-item(data-translate="tableOptions8")
                        button.popup__list-item(data-translate="tableOptions9")
                        button.popup__list-item(data-translate="tableOptions10")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict7")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери значення
                    .popup__list
                        button.popup__list-item._select(data-translate="tableOptions2")
                        button.popup__list-item(data-translate="tableOptions3")
                        button.popup__list-item(data-translate="tableOptions4")
                        button.popup__list-item(data-translate="tableOptions5")
                        button.popup__list-item(data-translate="tableOptions6")
                        button.popup__list-item(data-translate="tableOptions7")
                        button.popup__list-item(data-translate="tableOptions8")
                        button.popup__list-item(data-translate="tableOptions9")
                        button.popup__list-item(data-translate="tableOptions11")
                        button.popup__list-item(data-translate="tableOptions12")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict(data-popup="predict8")
            .popup__title(data-translate="makePredictPopup") зробити прогноз
            button.popup__close
            .popup__wrap
                .popup__scroll
                    .popup__scroll-title(data-translate="chooseTeam") Обери команду
                    .popup__list
                        button.popup__list-item._select(data-translate="tableTeam1")
                        button.popup__list-item(data-translate="tableTeam2")
                        button.popup__list-item(data-translate="tableTeam3")
                        button.popup__list-item(data-translate="tableTeam4")
                        button.popup__list-item(data-translate="tableTeam5")
                        button.popup__list-item(data-translate="tableTeam6")
                        button.popup__list-item(data-translate="tableTeam7")
                        button.popup__list-item(data-translate="tableTeam8")
                        button.popup__list-item(data-translate="tableTeam9")
                        button.popup__list-item(data-translate="tableTeam10")
                        button.popup__list-item(data-translate="tableTeam11")
                        button.popup__list-item._select(data-translate="tableTeam12")
                        button.popup__list-item(data-translate="tableTeam13")
                        button.popup__list-item(data-translate="tableTeamAny")
            button.popup__btn.btn2(data-translate="confirmBtn") Підтвердити

        .popup.popup--predict.active._done(data-popup="done")
            button.popup__close
            .popup__done
                img(src="img/popup/done.png" alt="favbet")
            .popup__scroll-title._title(data-translate="thanksPopupTitle") #[span(data-text="Дякую") Дякую]
            .popup__scroll-text(data-translate="thanksPopupText") Прогно прийнято
            button.popup__btn.btn(data-translate="betBtn") зробити ставку
