
.fav-page.loading
    .spinner-overlay
        .spinner

    .smoke
        .smoke__decor
    .welcome
        .welcome__title._title(data-translate="welcomeTitle")
            span(data-text="накастуй") накастуй
            span(data-text="перемогу") перемогу
        .welcome__wrap
            .welcome__found._title(data-translate="welcomeFound") #[span(data-text="призовий фонд") призовий фонд]
            .welcome__prize(data-translate="welcomePrize") #[span 1 000 000 ₴] #[span * ]
            a.welcome__btn.btn.unauth-msg(data-translate="authBtn" href="/login") авторизуйся
            button.welcome__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
            button.welcome__btn.btn.play-btn.hide(data-translate="playBtn") зробити прогноз
    .info
        .info__ward-right
            img(src="img/info/right-ward.png" alt="favbet")
        .info__ward-left
            img(src="img/info/left-ward.png" alt="favbet")
        .info__title._title(data-translate="infoTitle") #[span(data-text="Прогнозуй The International 2025") Прогнозуй The International 2025]
        .info__subtitle(data-translate="infoSubtitle") 3 28 серпня по 14 вересня роби ставки від 350₴ на матчі “Dota 2” у турнірі “The International 2025”. Прогнозуй кожну стадію турніру та примножуй набрані бали.
        button.info__details.btn-popup(data-translate="infoDetails") Деталі
    .predict
        .predict__title._title(data-translate="predictTitle") #[span(data-text="накастуй перемогу") накастуй перемогу]
        .predict__cards.cards
            .card._active
                .card__sun
                    .card__rune.rune1
                .card__text(data-translate="cardText1") Найбільша середня кількість фрагів однією командою за весь турнір
            .card._right
                .card__sun
                    .card__rune.rune2
                .card__text(data-translate="cardText2") Визначити команду-лідера за середнім показником загиблих героїв за турнір.
            .card
                .card__sun
                    .card__rune.rune3
                .card__text(data-translate="cardText3") Найбільша середня кількість асистів однією командою за весь турнір
            .card
                .card__sun
                    .card__rune.rune4
                .card__text(data-translate="cardText4") Кількість вибраних героїв за весь турнір з усіх
            .card
                .card__sun
                    .card__rune.rune5
                .card__text(data-translate="cardText5") Визначити гравця-лідера за кількістю загиблих героїв на одній мапі.
            .card
                .card__sun
                    .card__rune.rune6
                .card__text(data-translate="cardText6") Найбільша кількість асистів одним гравцем за мапу
            .card
                .card__sun
                    .card__rune.rune7
                .card__text(data-translate="cardText7") Визначити найбільшу кількість фрагів одним гравцем за мапу.
            .card._left
                .card__sun
                    .card__rune.rune8
                .card__text(data-translate="cardText8") Переможець турніру
        .predict__runes
            .predict__runes-item.rune1._active
            .predict__runes-item.rune2._right1
            .predict__runes-item.rune3._right2
            .predict__runes-item.rune4
            .predict__runes-item.rune5
            .predict__runes-item.rune6
            .predict__runes-item.rune7._left2
            .predict__runes-item.rune8._left1
        .predict__bottom
            .predict__move-left
            .predict__move-right
        button.predict__btn.btn-popup(data-translate="makeChoice") зробити вибір
        button.predict__confirm-btn.btn2(data-translate="confirmBtn") підтвердити
    .table
        .table__title._title(data-translate="tableTitle") #[span(data-text="результати") результати]
        .table__head
            .table__row
                .table__row-item(data-translate="tablePlace") Місце
                .table__row-item(data-translate="tableId") ID
                .table__row-item(data-translate="tablePoints") Бали
                .table__row-item(data-translate="tableMultiple") Х
                .table__row-item(data-translate="tablePointsMultiple") Х Бали
                .table__row-item(data-translate="tablePrize") Приз*
        .table__body#table
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 100
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 1000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

            .table__row
                .table__row-item 10000
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

        .table__body#tableOther
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000
            .table__row.you
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000
            .table__row
                .table__row-item 1
                .table__row-item 4538***
                .table__row-item 999999
                .table__row-item 10
                .table__row-item 9999999
                .table__row-item 100000

        a.table__btn.btn.unauth-msg(data-translate="authBtn" href="/login") авторизуйся
        button.table__btn.btn.part-btn.hide(data-translate="joinBtn") взяти участь
        button.table__btn.btn.play-btn.hide(data-translate="playBtn") зробити прогноз
    .drop
        details.dropdown
            summary(data-translate="rulseBtn")
            .drop-txt
                .drop-txt-list(data-translate="rules")